<p class="subheader"><strong>The Lord's Prayer</strong></p>
<p>
  <strong
    >Our Father who art in heaven,<br />
    hallowed be Thy name,<br />
    Thy kingdom come,<br />
    Thy will be done<br />
    on earth as it is in heaven.<br />
    Give us this day our daily bread;<br />
    and forgive us our trespasses<br />
    as we forgive those who trespass against us;<br />
    and lead us not into temptation,<br />
    but deliver us from evil.<br />
    For Thine is the kingdom<br />
    and the power and the glory<br />
    forever and ever. Amen.</strong
  >
  <span class="versicle-ref">Matthew 6:9-13</span>
</p>
