{% macro card(title, collapsed=False) %}
<div class="card{% if collapsed %} collapsed{% endif %}">
  <div class="card-header" onclick="toggleCard(this)">
    <h2>{{ title|safe }}</h2>
    <span class="toggle-icon">▼</span>
  </div>
  <div class="card-content">
    {{ caller() }}
  </div>
</div>
{% endmacro %}

{% macro format_prayer(prayer_obj) %}
{% if prayer_obj.display_title %}
<p class="subheader"><strong>{{ prayer_obj.prayer_title }}</strong></p>
{% endif %}
<p>
  <strong>{{ prayer_obj.prayer | replace('\n', '<br />') | safe }}</strong>
  {% if prayer_obj.reference %}
    <span class="versicle-ref">{{ prayer_obj.reference }}</span>
  {% endif %}
</p>
{% endmacro %}
