<p class="subheader"><strong>Nunc Dimittis</strong></p>
<p>
  <strong
    >Lord, now You let Your servant go in peace;<br />
    Your word has been fulfilled.<br />
    My own eyes have seen the salvation<br />
    which You have prepared in the sight of every people:<br />
    a light to reveal You to the nations<br />
    and the glory of Your people Israel.<br />
    Glory be to the Father and to the Son and to the Holy Spirit;<br />
    as it was in the beginning, is now, and will be forever. Amen.<br /></strong
  ><span class="versicle-ref">Luke 2:29-32</span>
</p>
