{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}Advent Devotion{% endblock %}
{% block content %}
    <div style="text-align: center; margin-bottom: 40px">
      <h1>The Advent of Our Lord</h1>
      <h2>{{ devotion_title|safe }}</h2>
      <p>{{ date_str }}</p>
    </div>

    {% call macros.card('Invocation') %}
        <p>
          <span class="rubric"
            >The sign of the cross may be made by all in remembrance of their Baptism.</span
          >
        </p>
        <p>
          In the name of the Father and of the † Son and of the Holy Ghost.<br />
          <strong>Amen.</strong>
        </p>
        <p>
          Behold, the King cometh:<br />
          <strong>Oh, come, let us worship Him.</strong>
        </p>
    {% endcall %}

    {% call macros.card('Prayer') %}
        {% include '_lords_prayer.html' %}
    {% endcall %}

    {% call macros.card('Reading') %}
        <span class="ref">{{ reading_ref }}</span>
        {{ reading_html|safe }}
    {% endcall %}

    {% call macros.card('Meditation') %}
        {{ meditation_html|safe }}
    {% endcall %}

    {% call macros.card('Prayers') %}
        <p class="subheader"><strong>Prayer of the Day</strong></p>
        {{ daily_prayer_html|safe }}
        <p class="subheader"><strong>Closing Prayer</strong></p>
        <p>
          O almighty and most merciful God, of Thy bountiful goodness keep us, we beseech Thee, from
          all things that may hurt us, that we, being ready, both in body and soul, may cheerfully
          accomplish those things that Thou wouldst have done; through Jesus Christ, Thy Son, our
          Lord, who liveth and reigneth with Thee and the Holy Ghost, ever one God, world without
          end. Amen.

          <strong>Amen</strong>.
        </p>
    {% endcall %}
{% endblock %}
