{% extends "base.html" %}
{% import "_macros.html" as macros with context %}

{% block title %}Gospels by Category{% endblock %}

{% block content %}
    <div class="page-header">
      <h1>Gospels by Category</h1>
      <p>Select a category to view a Gospel reading and prayer for reflection.</p>
    </div>

    {% for cat in category_data %}
      {% set i = loop.index0 %}
      {% call macros.card(cat.title, collapsed=True) %}
        <p><em>{{ cat.description }}</em></p>
        <hr>
        <span class="ref" id="ref-{{ i }}">{{ cat.initial_ref }}</span>
        <p id="text-{{ i }}">{{ cat.initial_text|safe }}</p>
        <button class="button picker-toggle-button" onclick="togglePicker(this, {{ i }})">Select Reading</button>
        <div id="picker-{{ i }}" class="item-picker">
            {% for v in cat.verses %}
            <button class="button picker-select-button" onclick="selectRef('{{ v }}', {{ i }})">{{ v }}</button>
            {% endfor %}
        </div>
        <hr>
        <p class="subheader"><strong>Prayer</strong></p>
        <p>{{ cat.prayer }}</p>
      {% endcall %}
    {% endfor %}
{% endblock %}
