{% extends "base.html" %} {% block title %}Prayer & Scripture Companion{% endblock %} {% block content %}
    <div class="page-header">
      <h1>Prayer & Scripture Companion</h1>
      <p>Select an option below to begin.</p>
    </div>

    <div class="card">
      <h2>Daily Prayer</h2>
      <a href="/morning_devotion" class="button">Morning</a>
      <a href="/midday_devotion" class="button">Midday</a>
      <a href="/evening_devotion" class="button">Evening</a>
      <a href="/close_of_day_devotion" class="button">Close of Day</a>
      <a href="/night_watch_devotion" class="button">Night Watch</a>
    </div>
    <div class="card">
      <h2>Seasonal Devotions</h2>
      <button onclick="location.href='/advent_devotion'" class="button" {% if not is_advent %}disabled{% endif %}>Advent Family Devotional</button>
    </div>
    <div class="card">
      <h2>Children's Devotions</h2>
      <a href="/childrens_devotion" class="button">Children's Daily Devotion</a>
    </div>
    <div class="card">
      <h2>Other Devotions</h2>
      <a href="/extended_evening_devotion" class="button">Extended Evening Devotion</a>
      <a href="/mid_week_devotion" class="button">Mid-Week Devotion</a>
      <a href="/short_prayers" class="button">Short Prayers</a>
    </div>
    <div class="card">
      <h2>Bible Helps</h2>
      <a href="/psalms_by_category" class="button">Psalms</a>
      <a href="/gospels_by_category" class="button">Gospels</a>
      <a href="/bible_in_a_year" class="button">Bible in a Year</a>
      <a href="/memory" class="button">Scripture Memorization</a>
    </div>
    <div class="card">
      <h2>Prayer Requests</h2>
      <a href="/prayer_requests" class="button">Submit a Prayer Request</a>
      <a href="/prayer_wall" class="button">Pray for Someone</a>
      {% if current_user.is_authenticated %}
      <a href="/my_prayers" class="button">My Personal Prayers</a>
      {% endif %}
    </div>
    <div class="card">
      <h2>Feedback</h2>
      <a href="/feedback" class="button">Submit Feedback</a>
    </div>
    <div style="text-align: center; margin-top: 20px" id="github-link">
      <a
        href="https://github.com/brandonadamprice/LCMS_Prayer_App/tree/main/devotions"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
          alt="GitHub Repository"
          title="GitHub Repository"
        />
      </a>
    </div>
{% endblock %}
