{% extends "base.html" %} {% block title %}Request Submitted{% endblock %} {% block content %}
    <div class="page-header">
      <h1>Prayer Request Submitted</h1>
    </div>
    <div class="card">
      <p>Your prayer request has been submitted successfully.</p>
      <p>Thank you.</p>
    </div>
    <div style="text-align: center">
      <a href="/prayer_requests" class="button">Submit Another Request</a>
      <a href="/prayer_wall" class="button">Go to Prayer Wall</a>
    </div>
{% endblock %}
