{% extends "base.html" %} {% block title %}Prayer Requests{% endblock %} {% block content %}
    <div style="text-align: center; margin-bottom: 40px">
      <h1>Prayer Requests</h1>
    </div>

    <div class="card">
      <h2>Submit a Prayer Request</h2>
      <p>
        Please fill out the form below to submit a prayer request. Please note that prayer requests
        are not private, anyone can see the prayer requests. Do not include sensitive information
        about yourself or others in your prayer request (e.g. email address, phone number, address,
        etc.).
      </p>
      <form action="/add_prayer_request" method="post">
        <div style="margin-bottom: 10px">
          <label for="name">Name:</label><br />
          <input
            type="text"
            id="name"
            name="name"
            required
            maxlength="100"
            style="
              width: 100%;
              padding: 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              box-sizing: border-box;
            "
          />
        </div>
        <div style="margin-bottom: 10px">
          <label for="request">Prayer Request:</label><br />
          <textarea
            id="request"
            name="request"
            rows="4"
            required
            maxlength="1000"
            style="
              width: 100%;
              padding: 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              box-sizing: border-box;
            "
          ></textarea>
        </div>
        <div style="margin-bottom: 10px">
          <label for="days_ttl">Days to keep request active (1-90):</label><br />
          <input
            type="number"
            id="days_ttl"
            name="days_ttl"
            min="1"
            max="90"
            value="30"
            required
            style="
              width: 100%;
              padding: 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              box-sizing: border-box;
            "
          />
        </div>
        <button type="submit" class="button">Submit Request</button>
      </form>
    </div>
{% endblock %}
